* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --FF: "Times New Roman", Times, serif;
  --FS: 1.5rem;
  --FS-XL: 3rem;

  --BGCOLOR: hsl(215, 19%, 35%);
  --COLOR: hsl(0, 0%, 96%);
  --HCOLOR: hsl(217, 33%, 17%);
  --FCOLOR: hsl(217, 33%, 17%);
  --DARKCOLOR: hsl(215, 19%, 35%);

  --SQUARE-BGCOLOR: hsl(37, 100%, 92%);
  --SQUARE-SIZE: 200px;

  --PADDING: 0.5rem;
  --SHADOWS: 0 6px 5px -5px var(--DARKCOLOR);
  --BORDERS: 2px solid var(--DARKCOLOR);
}

@media (prefers-color-scheme: dark) {
  :root {
    --BGCOLOR: #000;
    --ALT-BGCOLOR: #333;
    --RADIAL_COLOR: gray;
    --SQUARE-BGCOLOR: purple;
  }
}

body {
  font: var(--FS) var(--FF);
  min-height: 100vh;

  background-color: var(--BGCOLOR);
  background-image: radial-gradient(var(--COLOR), var(--DARKCOLOR));
  display: flex;
  flex-direction: column;
}

header,
footer,
nav {
  display: grid;
  place-content: center;
  grid-template-columns: 100%;
  text-align: center;
}

header,
footer {
  position: sticky;
  background-color: var(--BGCOLOR);
  color: var(--COLOR);
}

header {
  top: 0;
}
nav {
  background-color: var(--COLOR);
  color: var(--DARKCOLOR);
  padding: var(--PADDING);
  border-bottom: var(--BORDERS);
  box-shadow: var(--SHADOWS);
}

main {
  display: flex;
  padding: 10px 0;
  flex-wrap: wrap;
  justify-content: space-evenly;

  gap: min(4vw, 15px);
}

footer {
  bottom: 0;
}

.square--highlight {
  --SQUARE-BGCOLOR: cornflowerblue;
}

.square {
  background-color: var(--SQUARE-BGCOLOR);
  width: var(--SQUARE-SIZE);
  height: var(--SQUARE-SIZE);
  border: var(--BORDERS);
  border-radius: 15px;
  display: grid;
  place-content: center;
  font-size: var(--FS-XL);
  box-shadow: var(--SHADOWS);
}
