* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Times, serif;
  min-height: 100vh;
}

.container {
  min-height: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr 2fr);
  grid-auto-rows: minmax(150px, auto);
  /* row-gap: 1rem;
  column-gap: 1rem; */
  gap: 1rem;
}

.box {
  background-color: black;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
}
